[submodule "todo_app/tododb"]
	path = todo_app/tododb
	url = https://github.com/gihyodocker/tododb
[submodule "todo_app/todoapi"]
	path = todo_app/todoapi
	url = https://github.com/gihyodocker/todoapi
[submodule "todo_app/todonginx"]
	path = todo_app/todonginx
	url = git@github.com:lighty/gihyo-docker-sample-todonginx.git
[submodule "todo_app/todoweb"]
	path = todo_app/todoweb
	url = https://github.com/gihyodocker/todoweb
