[submodule "todo_app/tododb"]
	path = todo_app/tododb
	url = https://github.com/gihyodocker/tododb
[submodule "todo_app/todoapi"]
	path = todo_app/todoapi
	url = https://github.com/gihyodocker/todoapi
